
*{margin: 0; padding:0; box-sizing: border-box;}


.login-wrapper{
  width: 100vw; height:100vh;
    text-align: center;
    margin-top:6rem;

  }

  form{
    width:40vw;
    display:inline-block;
    flex-wrap: wrap;
   margin:2rem
  }
  
  

  .wallpaper{
    background-image: url(../assets/imgs/login\ image.jpg);
    height: 100vh;
  }

  .wallpaper1{
    background-image: url(../assets/imgs/uwp2886922.webp);
    height: 100vh;
  }

  .wallpaper2{
    background-image: url(../assets/imgs/uwp2857961.gif);
    height: 100vh;
  }

  .wallpaper3{
    background-image: url(../assets/imgs/uwp2886922.webp);
    height: 100vh;
  }

  .verti{
    margin-left: 47%;
  }

  .Guidelines{
    margin-top: 2rem;
    font-weight: 450;
    color:rgb(6, 6, 6)
  }